<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.darkrockstudios.apps.tminus"
          android:versionCode="1"
          android:versionName="0.1">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17"/>

    <application
            android:name="com.darkrockstudios.apps.tminus.TMinusApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.darkrockstudios.apps.tminus.LaunchListActivity"
                android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.darkrockstudios.apps.tminus.LaunchDetailActivity"
                android:label="@string/title_launch_detail"
                android:parentActivityName=".LaunchListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".LaunchListActivity"/>
        </activity>
        <activity
                android:name="com.darkrockstudios.apps.tminus.CountDownActivity"
                android:label="@string/title_activity_count_down"
                android:theme="@style/CountDownTheme">
        </activity>

        <receiver android:name=".AlarmUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service android:name=".UpdateAlarmsService"/>
        <service android:name=".NotificationService"/>
        <service android:name=".LaunchUpdateService"/>
    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest>
